<h1 class="app-banner">AddyCaddy</h1>
<%= link_to user_omniauth_authorize_path(:twitter), class: "small-6 small-centered columns button twitter-login-button" do %>Sign In With Twitter
  <i class="fi-social-twitter"></i>
<% end %> 
