h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: Oswald, sans;
}
.wrapper {
  text-align: center;
}
li {
  list-style: none !important;
}
.query-box {
  margin-top: 5%;
}
.alert-box {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.5rem; 
  font-family: Oswald;
  letter-spacing: 0.1em;
}
// Navbar styles
.nav-logo {
  width: 50px
}
