.login-body {
  //background: url('bricks-large.jpg') no-repeat center center fixed; 
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo-large {
  width: 200px;
  margin-top: 15vh;
  margin-bottom: 12vh;
 }
.login-wrapper {
  text-align: center;
  color: white;
 }
.login-banner {
  padding: 0 20%;
  border-radius: 10px;
}
.login-banner > h1,
.login-banner > h2 {
  font-family: Oswald, sans-serif;
  color: white;
  text-shadow: 1px 3px 7px rgba(2, 0, 0, .9);
}
.twitter-login-button {
  border-radius: 15px;
  font-size: 1.8rem;
  margin-top: 12%;
}
.fi-social-twitter {
  font-size: 2rem;
  position: relative;
  right: -5%;
  top: 3px;
}
.photo-credit {
  font-size: 10px;
  color: red;
  display: none;
}
