.comparison-container {
  border: 3px solid rgba(0, 0, 0, .2);
  border-radius: 10px;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.2);
}
.checkboxes > h3 {
  margin: 5%;
}
.switch.radius {
  display: none;
}
.category-button {
  margin: 1.5rem .5rem;
  border-radius: 10px;
}
.address-label {
  font-family: Oswald, sans;
  font-size: 1.5rem;
}
