.comparison-container {
  border: 3px solid rgba(0, 0, 0, .2);
  border-radius: 10px;
  margin: 5%;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.2);
}
ul.button-group {
  text-align: center;
  padding: 8% 15% 3%;
}
ul.button-group > li {
  float: none;
  display: inline-block;
}
.switch.radius {
  display: none;
}
.radius-dropdown {
  margin-top: 5%;
}
.category-button {
  margin: .8rem;
  border-radius: 10px;
  font-size: 1.3rem;
  min-width: 250px;
  -webkit-box-shadow: 0px 4px 0px rgba(0,68,90,1), 0px 6px 8px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 4px 0px rgba(0,68,90,1), 0px 6px 8px rgba(0,0,0,.7);
  box-shadow: 0px 4px 0px rgba(0,68,90,1), 0px 6px 8px rgba(0,0,0,.7);

}
.category-icon {
  margin-left: 12px;
}
.address-label {
  font-family: Oswald, sans;
  font-size: 1.5rem;
  margin-bottom: 5%;
}
#compare {
  font-size: 1.8rem;
  margin-top: 3rem;
  border: 2px solid white;
  -webkit-box-shadow: 0px 9px 0px rgba(0,68,90,1), 0px 9px 25px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 9px 0px rgba(0,68,90,1), 0px 9px 25px rgba(0,0,0,.7);
  box-shadow: 0px 9px 0px rgba(0,68,90,1), 0px 9px 25px rgba(0,0,0,.7);
}
