*:focus {
  outline: 0;
}
#first_address,
#second_address {
  height: 50px;
  border-radius: 8px;
}
.instructions {
  padding: 1% 8%;
  font-family: Georgia, sans-serif;
  color: rgba(0, 0, 0, 0.7);
}
.comparison-container {
  border: 3px solid rgba(0, 0, 0, .2);
  border-radius: 10px;
  margin: 5%;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.2);
}
ul.button-group {
  text-align: center;
  padding: 1% 5% 3%;
}
ul.button-group > li {
  float: none;
  display: inline-block;
}
.criteria-group{
  padding: 0 5% 5%;
  background-color: darkgray;
  border-radius: 10px;
  -webkit-box-shadow: inset 7px -2px 5px 0px rgba(0,0,0,0.41), inset -1px 10px 8px 0px rgba(0,0,0,0.41);
  -moz-box-shadow: inset 7px -2px 5px 0px rgba(0,0,0,0.41), inset -1px 10px 8px 0px rgba(0,0,0,0.41);
  box-shadow: inset 7px -2px 5px 0px rgba(0,0,0,0.41) inset -1px 10px 8px 0px rgba(0,0,0,0.41);
  display: none;
}
.radius-dropdown {
  border-radius: 8px;
  margin-top: 5%;
}
.category-button {
  margin: .8rem;
  border-radius: 10px;
  font-size: 1.3rem;
  min-width: 250px;
  background-color: #924973;
  -webkit-box-shadow: 0px 4px 0px rgba(0,68,90,1), 0px 6px 8px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 4px 0px rgba(0,68,90,1), 0px 6px 8px rgba(0,0,0,.7);
  box-shadow: 0px 4px 0px rgba(0,68,90,1), 0px 6px 8px rgba(0,0,0,.7);
}
.category-button:hover {
  background-color: #ff9f4f;
}
.category-checkbox {
 width: 350px;
}
input[type="checkbox"] {
	visibility: hidden;
  width: 1px;
  height: auto;
  //FIXME
}

input[type="checkbox"] + label {
	cursor: pointer;
}
input[id^="query"] + label {
    background-color: lightgray;
    padding: 4%;
    padding-left: 10%;
    box-shadow: inset 0 50px 37px -30px rgba(255, 222, 197, 0.3);
    border-radius: 10px;
    display: inline-block;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    margin-right: 30px;
    color: #000;
    font-size: 1.2rem;
    width: 280px;
    text-align: left;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
[id^="query"] + label:hover  {
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  background-color: lighten(lightgray, 10%);
  box-shadow: inset 0 -50px 37px -30px rgba(255, 222, 240, 0.07), 0 0 13px rgba(0, 0, 0, 0.6);
}
[id^="query"] + label:active  {
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.3), inset 0 -50px 37px -30px rgba(255, 222, 197, 0.07), 0 0 13px rgba(0, 0, 0, 0.6);	
}

[id^="query"] + label:after {
	content: ' ';
	border-radius: 100px;
	width: 32px;
	position: absolute;
	top: 12px;
	right: 12px;
	box-shadow: inset 0px 16px 40px rgba(0, 0, 0, 0.4);
	height: 32px;
}
.criteria-group.small-8.small-centered.columns > div > div > label {
  margin-bottom: -10%;
}
[id^="query"] + label:before {
	content: ' ';
	border-radius: 100px;
	width: 20px;
	position: absolute;
	top: 18px;
	right: 18px;
	z-index: 999;
	box-shadow: inset 0px 16px 40px #FFF;
	height: 20px;
	display: none;
}
[id^="query"]:checked + label {
  color: white;
  background-color: #488249;
}
[id^="query"]:checked + label:before {
	display: block;
}
.category-icon {
  margin-left: 12px;
}
.address-label {
  font-family: Oswald, sans;
  font-size: 1.5rem;
  color: black;
  margin-bottom: 4%;
}
#compare {
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 0;
  border: 2px solid white;
  background-color: #488249;
  -webkit-box-shadow: 0px 2px 0px rgba(0,0,0,.4), 0px 4px 5px rgba(0,0,0,.5);
  -moz-box-shadow: 0px 2px 0px rgba(0,0,0,.4), 0px 4px 5px rgba(0,0,0,.5);
  box-shadow: 0px 2px 0px rgba(0,0,0,.4), 0px 4px 5px rgba(0,0,0,.5);
}
#compare:hover, 
#compare:active {
  border: 2px solid #924973; 
  background-color: #ff9f4f; 
  -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,.6), 0px 0px 0px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 0px 0px rgba(0,0,0,.6), 0px 0px 0px rgba(0,0,0,.7);
  box-shadow: 0px 0px 0px rgba(0,0,0,.6), 0px 0px 0px rgba(0,0,0,.7);
}
#compare:active {
  -webkit-box-shadow: 0px 2px 0px rgba(0,0,0,.6), 0px 0px 0px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 2px 0px rgba(0,0,0,.6), 0px 0px 0px rgba(0,0,0,.7);
  box-shadow: 0px 2px 0px rgba(0,0,0,.6), 0px 0px 0px rgba(0,0,0,.7);
}
#compare:focus {
  -webkit-box-shadow: 0px 2px 0px rgba(0,0,0,.6), 0px 0px 0px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 2px 0px rgba(0,0,0,.6), 0px 0px 0px rgba(0,0,0,.7);
  box-shadow: 0px 2px 0px rgba(0,0,0,.6), 0px 0px 0px rgba(0,0,0,.7);
  outline:0;
  background-color: #924973;
  border: 3px solid #488249; 
}
