.result-details {
  display: none;
}
.results {
  margin: 3% 0;
}
.distance-title,
.first-address,
.second-address,
.results,
.theader {
  text-align: center;
}
.distance-title {
  margin: 5%;
}
.location-distance {
  text-align: center;
}
.radius-standout {
  font-weight: bold;
  color: #488249;
}
a {
  color: #924973;
}
#sticky_footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 45px;
  width: 100%;
  color: white;
  background-color: #333333;
  padding: 5px;
}
.footer-msg {
  font-family: Georgia, sans-serif;
  font-size: 18px;
  color: white;
}
.footer-msg:active,
.footer-msg:focus {
  color: white;
}
div.email_popup {
  posiiton: fixed;
  bottom: 0;
  width: 100%;
  display: none;
  }
.email-inner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 60px;
  width: 450px;
  background-color: #924973;
  padding: 50px;
  padding-top: 5px;
  text-align:center;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 2px 2px 6px rgba(0,0,0,.5);
  box-shadow: 2px 2px 6px rgba(0,0,0,.5);
}
#user_email {
  border-radius: 10px;
  height: 50px;
}
input.postfix {
  border-radius: 10px;
  font-faimily: Oswald, sans-serif;
  background-color: darkgray;
  color: white;
}
.close-popup {
  color: white;
  font: 14px/100% arial, sans-serif;
  position: relative;
  float: right;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-right: -20px;
  padding: 8px 12px;
}
.close-popup:hover {
  background-color: #488249;
  color: #924973; 
}
.close-popup:after {
  content: 'X';
}

