.result-details {
  display: none;
}
.results {
  margin: 3% 0;
}
.distance-title,
.first-address,
.second-address,
.results,
.theader {
  text-align: center;
}
.distance-title {
  margin: 5%;
}
.location-distance {
  text-align: center;
}
.radius-standout {
  font-weight: bold;
  color: #488249;
}
a {
  color: #924973;
}
