<div class="row">
  <div class="page-wrapper large-12 large-centered columns">
    <h1 class="page-header">Need to rent a place in Denver?</h1>
    <h2>Hint: Use AddyCaddy.</h2>
    <h2>1. Find potential rentals.</h2>
    <p></p>
    <h2>2. Think about what's important.</h2>
    <h2>3. Compare your options.</h2>
    <p></p>
    <h2>4. Decide and Enjoy</h2>
  </div>
</div>
