<div class="row">
  <div class="page-wrapper large-12 large-centered columns">
    <div class="page-header">
      <h1>Need to rent a place in Denver?</h1>
      <h3>Hint: Use AddyCaddy.</h3>
  </div>
    <h2>1. Find potential rentals.</h2>
    <p>Finding rentals is easy enough. You can search <a href="http://denver.craisgslist.org/search/apa">craigslist</a>, spot rentals signs, or simply hear about a potential rental--all you need is the address. More precisely, two addresses.</p>
    <p>To learn more about the character of a neighborhood and whether it might be a good fit for you, enter addresses into the address fields, like so:</p>
      <%= image_tag("enter-address.png", class: "instruction-image") %>
    <h2>2. Think about what's important.</h2>
    <p>Maybe you need like to run through the park every morning, work remotely and enjoy the atmosphere of a coffee shop, or can't stand a long drive to the grocery store. Pick whatever criteria is most important for you to have close to your place of residence.</p>
      <%= image_tag("click-category.png", class: "instruction-image") %>
      <p></p> 
      <%= image_tag("choose-criteria.png", class: "instruction-image") %>
    <h2>3. Compare your options.</h2>
      <%= image_tag("click-compare.png", class: "instruction-image") %>
    <p></p>
    <h2>4. Decide and Enjoy</h2>
  </div>
</div>
