<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">AddyCaddy</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="#"><%= render partial: 'layouts/sign_in' %></a></li>
      <li class="has-dropdown">
        <a href="#">Explore</a>
        <ul class="dropdown">
          <li><a href="#">First link</a></li>
          <li><a href="#">Active link</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
